<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
  >
  <coverage>
    <include>
      <directory suffix="Test.php">src/tests</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="couleur">
        <directory suffix="Test.php">src/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>